.hatch-example {
  width: 70%;
  height: 360px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.density-example-container {
  display: flex;
}

.density-example {
  flex: 1;
  height: 100%;
}
